<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="./assets/css/style.css">

  </head>

  <body>

    <!-- HEADER -->
    <div class="header-inner section-inner">
      <div class="header-titles-wrapper">
        <div class="header-titles">
          <div class="site-logo faux-heading">
            <a href="/" class="custom-logo-link" rel="home" aria-current="page"><img width="90px" height="90px" src="./assets/images/logo.png" class="custom-logo" alt="Mike Pattinson Associates" ></a>
          </div>
          <div class="site-description">Transformation. Growth. Impact.</div><!-- .site-description -->
        </div><!-- .header-titles -->
      </div><!-- .header-titles-wrapper -->

      <div class="header-navigation-wrapper">
        <nav class="primary-menu-wrapper" aria-label="Horizontal" role="navigation">
          <ul class="primary-menu reset-list-style">
            <li><a href="/" aria-current="page">Mike Pattinson Associates</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/meet-mike">Meet Mike</a></li>
          </ul>
        </nav><!-- .primary-menu-wrapper -->
      </div><!-- .header-navigation-wrapper -->

    </div>

    <div id="header_wrap" class="outer">
        <header class="title-inner">
          <h1 id="project_title">{{ site.title }}</h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Company number 12789315</a></p>
        <hr />
        <p class="copyright">© 2021 Mike Pattinson Associates</p>
      </footer>
    </div>
  </body>
</html>